@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="hero-section">
	<img src="../img/hero-background.jpg"
		 class="hero-img" />
	<div class="hero-text">
		<p class="hero-text-title">RECIPES</p>
		<p class="hero-text-description">
			Discover efficient recipes that minimize cooking time without compromising on flavor and nutrition.
		</p>
	</div>
</div>

<div class="container">
	@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))
</div>


<script src="_framework/blazor.server.js"></script>
