@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="landing-section">
    <div>
        <div class="img-top-container">
            <img src="../img/landing-bg-01.png"
                 class="landing-img-top" />
        </div>
        <div class="img-bottom-container">
            <img src="../img/landing-bg-02.png"
                 class="landing-img-bottom" />
        </div>
    </div>
    <div class="website-info">
        <img src="../img/full-logo.png"
             class="full-logo" />
        <p class="website-description">Busy? Healthy? Both?<br> Explore Convenient Meal Solutions Now!</p>
        <a href="/Recipes">
            <button class="recipe-button">RECIPES</button>
        </a>
    </div>
</div>